* {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body,
html {
  overflow-x: hidden !important;
}

p,
ul,
body,
h1, h2, h3 {
  padding: 0 !important;
  margin: 0 !important;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 47px;
}

.fullPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.calcBlock__body {
  margin-top: 32px;
  margin-bottom: 44px;
}

.calcBlock__body,
.calcBlock__footer {
  display: flex;
  width: 100%;
}

.calcBlock__body > *,
.calcBlock__footer > * {
  flex: 1;
  margin-right: 32px;
}

.calcBlock__footer > *:last-child,
.calcBlock__body > *:last-child {
  margin-right: 0;
}

.calcBlock__footer {
  align-items: flex-end;
}

/* 
  * Breakpoints
*/

@media (max-width: 800px) {
  .container {
    padding: 0 36px;
  }

  .fullPage {
    align-items: flex-start;
    padding-top: 64px;
  }

  .calcBlock__body {
    margin-top: 44px;
    margin-bottom: 37px;
  }

  .calcBlock__body {
    flex-direction: column;
  }

  .calcBlock__body > *,
  .calcBlock__footer > * {
    margin-right: 0;
  }

  .calcBlock__body > * {
    margin-bottom: 39px;
  }

  .calcBlock__footer > * {
    margin-bottom: 44px;
  }

  .calcBlock__footer > *:last-child,
  .calcBlock__body > *:last-child {
    margin-bottom: 0;
  }

  .calcBlock__footer {
    flex-wrap: wrap;
  }

  .calcBlock__footer > * {
    flex: 2 2 50%;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }

  .fullPage {
    height: 100%;
    padding-top: 44px;
    padding-bottom: 64px;
  }

  .calcBlock__body {
    margin-top: 32px;
    margin-bottom: 25px;
  }

  .calcBlock__body > * {
    margin-bottom: 25px;
  }

  .calcBlock__footer > * {
    width: 100%;
    margin-bottom: 29px;
  }

  .calcBlock__footer {
    flex-direction: column;
    align-items: flex-start;
  }
}