/* 
  * Mont 
*/

@font-face {
  font-family: 'Mont-Heavy';
  src: url('@/assets/fonts/mont/heavy/Mont-Heavy.eot');
  src: local('Mont Heavy'), local('Mont-Heavy'),
    url('@/assets/fonts/mont/heavy/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/mont/heavy/Mont-Heavy.woff2') format('woff2'),
    url('@/assets/fonts/mont/heavy/Mont-Heavy.woff') format('woff'),
    url('@/assets/fonts/mont/heavy/Mont-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.font__mont__heavy {
  font-family: 'Mont-Heavy';
}

@font-face {
  font-family: 'Mont-SemiBold';
  src: url('@/assets/fonts/mont/semiBold/Mont-SemiBold.eot');
  src: local('Mont SemiBold'), local('Mont-SemiBold'),
    url('@/assets/fonts/mont/semiBold/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/mont/semiBold/Mont-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/mont/semiBold/Mont-SemiBold.woff') format('woff'),
    url('@/assets/fonts/mont/semiBold/Mont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.font__mont__semiBold {
  font-family: 'Mont-SemiBold';
}

/* 
  * Nekst 
*/

@font-face {
  font-family: 'Nekst-Black';
  src: url('@/assets/fonts/nekst/black/Nekst-Black.eot');
  src: local('Nekst'), local('Nekst-Black'), local('Nekst Black'),
    url('@/assets/fonts/nekst/black/Nekst-Black.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/nekst/black/Nekst-Black.woff2') format('woff2'),
    url('@/assets/fonts/nekst/black/Nekst-Black.woff') format('woff'),
    url('@/assets/fonts/nekst/black/Nekst-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.font__nekst__black {
  font-family: 'Nekst-Black';
}

/* 
  * Gilroy 
*/

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('@/assets/fonts/gilroy/regular/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('@/assets/fonts/gilroy/regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/gilroy/regular/Gilroy-Regular.woff2') format('woff2'),
    url('@/assets/fonts/gilroy/regular/Gilroy-Regular.woff') format('woff'),
    url('@/assets/fonts/gilroy/regular/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font__gilroy__regular {
  font-family: 'Gilroy-Regular';
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('@/assets/fonts/gilroy/bold/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('@/assets/fonts/gilroy/bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('@/assets/fonts/gilroy/bold/Gilroy-Bold.woff2') format('woff2'),
    url('@/assets/fonts/gilroy/bold/Gilroy-Bold.woff') format('woff'),
    url('@/assets/fonts/gilroy/bold/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font__gilroy__bold {
  font-family: 'Gilroy-Bold';
}

/* 
  * Sizes
*/

.font__title {
  font-size: 54px;
  line-height: 90%;
}

.font__text {
  font-size: 16px;
  line-height: 20px;
}

.font__medium {
  font-size: 30px;
}

/* 
  * Breakpoints
*/

@media (max-width: 500px) {
  .font__title {
    font-size: 34px;
    line-height: 30px;
  }

  .font__text {
    font-size: 14px;
    line-height: 19px;
  }

  .font__medium {
    font-size: 22px;
  }
}